@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import "tailwindcss";

@tailwind utilities;


* {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-azul-principal: #4acabb;
  --color-verde-escuro: #004d40;
  --color-roxo-escuro: #571e4f;
  --color-bg-clarinho: #f5f8ff;
  --color-quase-branco: #fafafa;
}

